.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.artist-thumbnail,
.song-thumbnail {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.artist-name,
.song-name {
  font-size: 16px;
}
.song-name small {
  color: #a7a7a7;
}
.list-group-item {
  text-align: left;
}
.app-title {
  font-size: 35px;
}
.app-description {
  font-size: 15px;
}

input[type='text'] {
  font-size: 16px;
  text-align: center;
}

.search-type {
  font-size: 17px;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .search-type {
    font-size: 15px;
  }
}
